<%- include('partials/header.ejs') %>
<body style="background-color:#eceff1;">
    <%- include('partials/navbar.ejs') %>

    <div class="container" id="content" >
        <div class="card">
            <div class="card-header">
                <h3>Cadastrar Departamento</h3>
            </div>
            <div class="card-body">
                <form action="/saveDepartment" method="POST">
                    <label>Departamento</label>
                    <input name="departamento" id="nome" type="text" class="form-control" placeholder="Digite o nome do departamento" style="width: 44%;" required></br>
                    <button class="btn btn-primary" data-toggle = "modal">Cadastrar</button>
                    <a href="/" class="btn btn-primary">Voltar</a>
                </form>
            </div>
            
        </div>
    </div>
    
</body>

<%- include('partials/footer.ejs') %>